{% extends 'base.html.twig' %}

{% block title %}Edit CrochetPattern{% endblock %}

{% block body %}
    <h1>Edit CrochetPattern</h1>

    {{ include('crochet_pattern/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_crochet_pattern_index') }}">back to list</a>

    {{ include('crochet_pattern/_delete_form.html.twig') }}
{% endblock %}
