{% extends 'base.html.twig' %}

{% block title %}Modifiez votre patron de crochet{% endblock %}

{% block body %}
    <h1>Modifiez votre patron de crochet</h1>

    {{ include('crochet_pattern/_form.html.twig', {'button_label': 'Update'}) }}

    <br>
    <a href="{{ path('app_crochet_pattern_index') }}">Retour à la liste des patrons</a>
    <br><br>
    {{ include('crochet_pattern/_delete_form.html.twig') }}
{% endblock %}
