{% extends 'base.html.twig' %}

{% block title %}New CrochetPattern{% endblock %}

{% block body %}
    <h1>Create new CrochetPattern</h1>

    {{ include('crochet_pattern/_form.html.twig') }}

	<br>
{% endblock %}
