{% extends 'base.html.twig' %}

{% block title %}Liste des collections{% endblock %}

{% block body %}
    <h1>Liste des collections de patrons :</h1>

    {% if patternCollections is empty %}
        <p>Erreur 404: Aucune collection trouvée.</p>
    {% else %}
        <ul>
            {% for collection in patternCollections %}
                <li>
                    <a href="{{ path('app_pattern_collection_show', {'id': collection.id}) }}">{{ collection.name }}</a>
                </li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}
